@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

:root {
  --sd: 1px 1px 1px #000;
}

.MainDiv {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #99ffbb;
}

.MainDiv .CenterDiv {
  height: 60vh;
  width: 60vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #007acc;
  border-radius: 30px 0px 30px 0px;
  -webkit-box-shadow: 10px 4px 20px #000;
          box-shadow: 10px 4px 20px #000;
  position: relative;
  overflow: hidden;
}

.MainDiv .CenterDiv #fas {
  position: absolute;
  left: 10%;
  top: 20%;
  color: #d0d9dd;
  text-shadow: var(--sd);
  font-size: 2rem;
}

.MainDiv .CenterDiv #msg {
  position: absolute;
  left: 15%;
  top: 30%;
  color: #fff;
  text-shadow: var(--sd);
}

.MainDiv .CenterDiv #btn {
  position: absolute;
  height: 3rem;
  width: 100%;
  background-color: #005c99;
  color: #fff;
  text-align: center;
  bottom: -2%;
  font-size: 1.4rem;
  padding-top: .5rem;
  text-shadow: var(--sd);
  letter-spacing: .2rem;
}

.MainDiv .CenterDiv .TweetDiv {
  position: absolute;
  top: -20%;
  right: -10%;
  height: 200px;
  width: 150px;
  background-color: #50c2f7;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px 0px 30px #50c2f7;
          box-shadow: 0px 0px 30px #50c2f7;
}

.MainDiv .CenterDiv i:last-child {
  position: absolute;
  top: 5%;
  right: 2%;
  font-size: 2rem;
  color: #fff;
  text-shadow: var(--sd);
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.MainDiv .CenterDiv i:last-child:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.MainDiv .CenterDiv .AuthorDiv {
  position: absolute;
  left: 70%;
  top: 60%;
}

.MainDiv .CenterDiv .AuthorDiv p {
  margin-left: .5rem;
}

.MainDiv .CenterDiv .AuthorDiv p:nth-child(1) {
  color: #ccd1d1;
  text-shadow: 1px 1px 1px #000;
}

.MainDiv .CenterDiv .AuthorDiv p:last-child {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

@media (max-width: 300px) and (min-width: 100px) {
  .MainDiv {
    height: 100vh;
    width: 100vw;
  }
  .MainDiv .CenterDiv {
    height: 55vh;
    width: 70%;
    padding: .5rem;
  }
  .MainDiv .CenterDiv #fas {
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 2rem;
  }
  .MainDiv .CenterDiv #msg {
    position: absolute;
    left: 15%;
    top: 30%;
  }
  .MainDiv .CenterDiv #btn {
    position: absolute;
    height: 3rem;
    width: 100%;
    bottom: -2%;
    font-size: 1.4rem;
    padding-top: .5rem;
    letter-spacing: .2rem;
  }
  .MainDiv .CenterDiv .TweetDiv {
    position: absolute;
    top: -20%;
    right: -40%;
    height: 200px;
    width: 150px;
    background-color: #50c2f7;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 0px 30px #50c2f7;
            box-shadow: 0px 0px 30px #50c2f7;
  }
  .MainDiv .CenterDiv i:last-child {
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 2rem;
    color: #fff;
    text-shadow: var(--sd);
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
  .MainDiv .CenterDiv i:last-child:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .MainDiv .CenterDiv .AuthorDiv {
    position: absolute;
    left: 10%;
    top: 70%;
  }
  .MainDiv .CenterDiv .AuthorDiv p {
    margin-left: .5rem;
  }
  .MainDiv .CenterDiv .AuthorDiv p:nth-child(1) {
    color: #ccd1d1;
    text-shadow: 1px 1px 1px #000;
  }
  .MainDiv .CenterDiv .AuthorDiv p:last-child {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }
}

@media (max-width: 600px) and (min-width: 301px) {
  .MainDiv {
    height: 100vh;
    width: 100vw;
  }
  .MainDiv .CenterDiv {
    height: 55vh;
    width: 70%;
    padding: .5rem;
  }
  .MainDiv .CenterDiv #fas {
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 2rem;
  }
  .MainDiv .CenterDiv #msg {
    position: absolute;
    left: 15%;
    top: 30%;
  }
  .MainDiv .CenterDiv #btn {
    position: absolute;
    height: 3rem;
    width: 100%;
    bottom: -2%;
    font-size: 1.4rem;
    padding-top: .5rem;
    letter-spacing: .2rem;
  }
  .MainDiv .CenterDiv .TweetDiv {
    position: absolute;
    top: -20%;
    right: -40%;
    height: 200px;
    width: 150px;
    background-color: #50c2f7;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-box-shadow: 0px 0px 30px #50c2f7;
            box-shadow: 0px 0px 30px #50c2f7;
  }
  .MainDiv .CenterDiv i:last-child {
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 2rem;
    color: #fff;
    text-shadow: var(--sd);
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
  .MainDiv .CenterDiv i:last-child:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .MainDiv .CenterDiv .AuthorDiv {
    position: absolute;
    left: 10%;
    top: 70%;
  }
  .MainDiv .CenterDiv .AuthorDiv p {
    margin-left: .5rem;
  }
  .MainDiv .CenterDiv .AuthorDiv p:nth-child(1) {
    color: #ccd1d1;
    text-shadow: 1px 1px 1px #000;
  }
  .MainDiv .CenterDiv .AuthorDiv p:last-child {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }
}
/*# sourceMappingURL=style.css.map */